.carousel-container {
    width: 100%;
    margin: 15em auto;
    padding: 0;
    background:#fff;
}

.items {
    /*background:#ECECEC;*/
}
.item img{
    height: 250px;
    margin-right: 20px;
}

#left, #right {
    color: white;
}
