<div class="form-wrapper">
  <h2 align="center">Профиль</h2>

  <div class="row">
    <div class="col-md-3 col-xs-2"></div>
    <ul class="nav nav-tabs col-xs-8 col-md-6">
      <li class="nav-item" (click)="toggleTab()">
        <a class="nav-link" [ngClass]="{active: selectedTab == 'changeInfo'}">Даныне</a>
      </li>
      <li class="nav-item" (click)="toggleTab()">
        <a class="nav-link" [ngClass]="{active: selectedTab == 'changePhoto'}">Фотографии</a>
      </li>
    </ul>
  </div>

  <div class="form-holder">
    <div class="row">
      <div class="col-sm-2 col-md-3"></div>
      <div class="col-xs-12 col-sm-8 col-md-6" *ngIf="selectedTab == 'changeInfo'">
        <form (submit)="submitForm()" [formGroup]="ancestorForm">
          <field-validator
            [inputField]="ancestorForm.get('first_name')"
            [labelText]="'Имя'"
            [inputErrors]="ancestorForm.get('first_name').errors"
            [errorDefs]="validationMessagesObject"
          >
            <input type="text" class="form-control" name="first-name" formControlName="first_name">
            <div class="server-errors-holder">
              <span class="server-errors" *ngIf="errors && errors.first_name">
                {{ errors.first_name }}
              </span>
            </div>
          </field-validator>

          <field-validator
            [inputField]="ancestorForm.get('last_name')"
            [labelText]="'Фамилия'"
            [inputErrors]="ancestorForm.get('last_name').errors"
            [errorDefs]="validationMessagesObject"
          >
            <input type="text" class="form-control" name="last-name" formControlName="last_name">
            <div class="server-errors-holder">
              <span class="server-errors" *ngIf="errors && errors.last_name">
                {{ errors.last_name }}
              </span>
            </div>
          </field-validator>

          <field-validator
            [inputField]="ancestorForm.get('third_name')"
            [labelText]="'Отчество'"
            [inputErrors]="ancestorForm.get('third_name').errors"
            [errorDefs]="validationMessagesObject"
          >
            <input type="text" class="form-control" name="third-name" formControlName="third_name">
            <div class="server-errors-holder">
              <span class="server-errors" *ngIf="errors && errors.third_name">
                {{ errors.third_name }}
              </span>
            </div>
          </field-validator>

          <field-validator
            [inputField]="ancestorForm.get('birth')"
            [labelText]="'Датта рождения'"
            [inputErrors]="ancestorForm.get('birth').errors"
            [errorDefs]="validationMessagesObject"
          >
            <input type="date" class="form-control" name="birth" formControlName="birth">
            <div class="server-errors-holder">
              <span class="server-errors" *ngIf="errors && errors.birth">
                {{ errors.birth }}
              </span>
            </div>
          </field-validator>

          <field-validator
            [inputField]="ancestorForm.get('death')"
            [labelText]="'Датта смерти'"
            [inputErrors]="ancestorForm.get('death').errors"
            [errorDefs]="validationMessagesObject"
          >
            <input type="date" class="form-control" name="death" formControlName="death">
            <div class="server-errors-holder">
              <span class="server-errors" *ngIf="errors && errors.death">
                {{ errors.death }}
              </span>
            </div>
          </field-validator>

          <field-validator
            [inputField]="ancestorForm.get('gender')"
            [labelText]="'Пол'"
            [inputErrors]="ancestorForm.get('gender').errors"
            [errorDefs]="validationMessagesObject"
          >
            <select class="form-control" name="gender" formControlName="gender">
              <option value=true>Мужской</option>
              <option value=false>Женский</option>
              <option value=null>Не определено</option>
            </select>
          </field-validator>

          <field-validator
            [inputField]="ancestorForm.get('parents')"
            [labelText]="'Родители'"
            [inputErrors]="ancestorForm.get('parents').errors"
            [errorDefs]="validationMessagesObject"
          >
            <select class="form-control" name="parents" formControlName="parents" multiple>
              <option *ngFor="let ancestor of ancestors" [value]="ancestor.id">{{ancestor.first_name}}
                {{ancestor.last_name}} {{ancestor.third_name}} {{ancestor.birth}}
              </option>
            </select>
          </field-validator>

          <field-validator
            [inputField]="ancestorForm.get('siblings')"
            [labelText]="'Братья и сестры'"
            [inputErrors]="ancestorForm.get('siblings').errors"
            [errorDefs]="validationMessagesObject"
          >
            <select class="form-control" name="siblings" formControlName="siblings" multiple>
              <option *ngFor="let ancestor of ancestors" [value]="ancestor.id">{{ancestor.first_name}}
                {{ancestor.last_name}} {{ancestor.third_name}} {{ancestor.birth}}
              </option>
            </select>
          </field-validator>

          <field-validator
            [inputField]="ancestorForm.get('children')"
            [labelText]="'Дети'"
            [inputErrors]="ancestorForm.get('children').errors"
            [errorDefs]="validationMessagesObject"
          >
            <select class="form-control" name="children" formControlName="children" multiple>
              <option *ngFor="let ancestor of ancestors" [value]="ancestor.id">{{ancestor.first_name}}
                {{ancestor.last_name}} {{ancestor.third_name}} {{ancestor.birth}}
              </option>
            </select>
          </field-validator>

          <field-validator
            [inputField]="ancestorForm.get('bio')"
            [labelText]="'Биография'"
            [inputErrors]="ancestorForm.get('bio').errors"
            [errorDefs]="validationMessagesObject"
          >
            <textarea formControlName="bio" class="form-control" rows="10"></textarea>
          </field-validator>


          <div class="form-group pull-right">
            <input [disabled]='!ancestorForm.valid' class="btn btn-success" type="submit"
                   [value]="isUpdate ? 'Обновить' : 'Создать'">
          </div>
        </form>

      </div>
      <div class="col-xs-12 col-md-6" *ngIf="selectedTab == 'changePhoto'">
        <form>
          <input type='file' (change)="readUrl($event)">
          <img [src]="url">
          <input type="submit" value="Загрузить аватарку" name="submit">
        </form>
      </div>
    </div>
  </div>
</div>
