<div class="container" *ngIf="signupForm">
  <form (submit)="signUp()" [formGroup]="signupForm">

    <field-validator [inputField]="signupForm.get('first_name')"
                     [labelText]="'Имя'"
                     [inputErrors]="signupForm.get('first_name').errors"
                     [errorDefs]="validationMessages">
      <input type="text" class="form-control" name="first-name" placeholder="Введите имя"
             formControlName="first_name">
    </field-validator>

    <field-validator [inputField]="signupForm.get('last_name')"
                     [labelText]="'Фамилия'"
                     [inputErrors]="signupForm.get('last_name').errors"
                     [errorDefs]="validationMessages">
      <input type="text" class="form-control" name="last-name" placeholder="Введите фамилию"
             formControlName="last_name">
    </field-validator>

    <field-validator [inputField]="signupForm.get('third_name')"
                     [labelText]="'Отчество'"
                     [inputErrors]="signupForm.get('third_name').errors"
                     [errorDefs]="validationMessages">
      <input type="text" class="form-control" name="third-name"  placeholder="Введите отчество"
             formControlName="third_name">
    </field-validator>

    <field-validator [inputField]="signupForm.get('email')"
                     [labelText]="'Электронная почта'"
                     [inputErrors]="signupForm.get('email').errors"
                     [errorDefs]="validationMessages">
      <input type="email" class="form-control" placeholder="Введите почту" name="email"
             formControlName="email">
    </field-validator>

    <field-validator [inputField]="signupForm.get('password1')"
                     [labelText]="'Пароль'"
                     [inputErrors]="signupForm.get('password1').errors"
                     [errorDefs]="validationMessages">
      <input type="password" class="form-control" placeholder="Введите пароль" name="password1"
             formControlName="password1">
    </field-validator>

    <field-validator [inputField]="signupForm.get('password2')"
                     [labelText]="'Подтверждение пароль'"
                     [inputErrors]="signupForm.get('password2').errors"
                     [errorDefs]="validationMessages">
      <input type="password" class="form-control" placeholder="Повторно введите пароль" name="password2"
             formControlName="password2">
    </field-validator>

    <field-validator [inputField]="signupForm.get('gender')"
                     [labelText]="'Пол'"
                     [inputErrors]="signupForm.get('gender').errors"
                     [errorDefs]="validationMessages">
      <select class="form-control" name="gender" formControlName="gender">
        <option value="" selected disabled>Выбирете пол</option>
        <option value="true">Мужской</option>
        <option value="false">Женский</option>
        <option value="null">Не определено</option>
      </select>
    </field-validator>

    <field-validator [inputField]="signupForm.get('birth')"
                     [labelText]="'Датта рождения'"
                     [inputErrors]="signupForm.get('birth').errors"
                     [errorDefs]="validationMessages">
      <input type="date" class="form-control" name="birth" formControlName="birth">
    </field-validator>

    <div class="form-group text-right">
      <button class="btn btn-success" type="submit" [disabled]="!signupForm.valid">Регистрация</button>
    </div>
  </form>
</div>
