<div>
  <button class="btn btn-success" (click)="showSelectAncestor()">Выбрать существущий профиль</button>
  <button class="btn btn-success" (click)="showForm()">Создать новый профиль</button>
</div>

<div class="container" *ngIf="showSelect">
  <input id="typeahead-basic" type="text" class="form-control" (selectItem)="showForm($event)"
         [ngbTypeahead]="search" [resultFormatter]="formatter" [inputFormatter]="formatter"/>
</div>

<div class="container" *ngIf="signupForm && isShowForm">
  <form (submit)="signUp()" [formGroup]="signupForm">


    <div class="d-flex flex-column justify-content-center align-items-start" *ngIf="selectedAncestor">
      <span>Возможно это Вы?</span>
      <br>
      <span>{{ selectedAncestor.last_name }} {{ selectedAncestor.first_name }} {{ selectedAncestor.third_name }}</span>
      <span>Пол: {{ selectedAncestor.gender ? 'Мужской' : selectedAncestor.gender.toString() === 'false' ? 'Женский' : 'Не выбран' }}</span>
      <span>Дата рождения: {{ selectedAncestor.birth.replace('-', ' ').replace('-', ' ') }}</span>
      <br>
      <span>Если нет - выбирете другой профиль или создайте новый</span>
      <br>
    </div>

    <field-validator [inputField]="signupForm.get('first_name')"
                     [labelText]="'Имя'"
                     [inputErrors]="signupForm.get('first_name').errors"
                     [errorDefs]="validationMessages" *ngIf="!selectedAncestor">
      <input type="text" class="form-control" name="first-name" placeholder="Введите имя" [readonly]="!!selectedAncestor"
             formControlName="first_name">
    </field-validator>

    <field-validator [inputField]="signupForm.get('last_name')"
                     [labelText]="'Фамилия'"
                     [inputErrors]="signupForm.get('last_name').errors"
                     [errorDefs]="validationMessages" *ngIf="!selectedAncestor">
      <input type="text" class="form-control" name="last-name" placeholder="Введите фамилию" [readonly]="!!selectedAncestor"
             formControlName="last_name">
    </field-validator>

    <field-validator [inputField]="signupForm.get('third_name')"
                     [labelText]="'Отчество'"
                     [inputErrors]="signupForm.get('third_name').errors"
                     [errorDefs]="validationMessages" *ngIf="!selectedAncestor">
      <input type="text" class="form-control" name="third-name"  placeholder="Введите отчество" [readonly]="!!selectedAncestor"
             formControlName="third_name">
    </field-validator>

    <field-validator [inputField]="signupForm.get('email')"
                     [labelText]="'Электронная почта'"
                     [inputErrors]="signupForm.get('email').errors"
                     [errorDefs]="validationMessages">
      <input type="email" class="form-control" placeholder="Введите почту" name="email"
             formControlName="email">
    </field-validator>

    <field-validator [inputField]="signupForm.get('password1')"
                     [labelText]="'Пароль'"
                     [inputErrors]="signupForm.get('password1').errors"
                     [errorDefs]="validationMessages">
      <input type="password" class="form-control" placeholder="Введите пароль" name="password1"
             formControlName="password1">
    </field-validator>

    <field-validator [inputField]="signupForm.get('password2')"
                     [labelText]="'Подтверждение пароль'"
                     [inputErrors]="signupForm.get('password2').errors"
                     [errorDefs]="validationMessages">
      <input type="password" class="form-control" placeholder="Повторно введите пароль" name="password2"
             formControlName="password2">
    </field-validator>

    <field-validator [inputField]="signupForm.get('gender')"
                     [labelText]="'Пол'"
                     [inputErrors]="signupForm.get('gender').errors"
                     [errorDefs]="validationMessages" *ngIf="!selectedAncestor">
      <select class="form-control" name="gender" formControlName="gender">
        <option value="" selected disabled>Выбирете пол</option>
        <option value="true">Мужской</option>
        <option value="false">Женский</option>
        <option value="null">Не определено</option>
      </select>
    </field-validator>

    <field-validator [inputField]="signupForm.get('birth')"
                     [labelText]="'Датта рождения'"
                     [inputErrors]="signupForm.get('birth').errors"
                     [errorDefs]="validationMessages" *ngIf="!selectedAncestor">
      <input type="date" class="form-control" name="birth" formControlName="birth" [readonly]="!!selectedAncestor">
    </field-validator>

    <div class="form-group text-right">
      <button class="btn btn-success" type="submit" [disabled]="!signupForm.valid">Регистрация</button>
    </div>
  </form>
</div>
